body {
  margin: 0;
  padding: 0;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}

#root {
  margin: 0;
  padding: 0;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}

.contact-show {
  right: -0.5% !important;
}

.phone-contact-show {
  display: flex !important;
  position: fixed;
  background: rgba(0,0,0,0.8);
  z-index: 1005;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 5%;
  color: #fff;
}
